ClienteCosumoSoap/src/wsdl/localhost_8080/ProyectoSoapServer/servicios.wsdl

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.4.0 (wsit240-7e98ff4; 2017-08-03T21:19:54+0200) JAXWS-RI/2.3.0 JAXWS-API/2.3.0 JAXB-RI/2.3.0 JAXB-API/2.3.0 svn-revision#unknown. --><!-- Generated by JAX-WS RI (http://javaee.github.io/metro-jax-ws). RI's version is Metro/2.4.0 (wsit240-7e98ff4; 2017-08-03T21:19:54+0200) JAXWS-RI/2.3.0 JAXWS-API/2.3.0 JAXB-RI/2.3.0 JAXB-API/2.3.0 svn-revision#unknown. --><definitions xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://sv/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://sv/" name="servicios">
<types>
<xsd:schema>
<xsd:import namespace="http://sv/" schemaLocation="http://localhost:8080/ProyectoSoapServer/servicios?xsd=1"/>
</xsd:schema>
</types>
<message name="potencia">
<part name="parameters" element="tns:potencia"/>
</message>
<message name="potenciaResponse">
<part name="parameters" element="tns:potenciaResponse"/>
</message>
<message name="hello">
<part name="parameters" element="tns:hello"/>
</message>
<message name="helloResponse">
<part name="parameters" element="tns:helloResponse"/>
</message>
<message name="Login">
<part name="parameters" element="tns:Login"/>
</message>
<message name="LoginResponse">
<part name="parameters" element="tns:LoginResponse"/>
</message>
<message name="buscarpalabra">
<part name="parameters" element="tns:buscarpalabra"/>
</message>
<message name="buscarpalabraResponse">
<part name="parameters" element="tns:buscarpalabraResponse"/>
</message>
<message name="Division">
<part name="parameters" element="tns:Division"/>
</message>
<message name="DivisionResponse">
<part name="parameters" element="tns:DivisionResponse"/>
</message>
<message name="Tangente">
<part name="parameters" element="tns:Tangente"/>
</message>
<message name="TangenteResponse">
<part name="parameters" element="tns:TangenteResponse"/>
</message>
<message name="Seno">
<part name="parameters" element="tns:Seno"/>
</message>
<message name="SenoResponse">
<part name="parameters" element="tns:SenoResponse"/>
</message>
<message name="Resta">
<part name="parameters" element="tns:Resta"/>
</message>
<message name="RestaResponse">
<part name="parameters" element="tns:RestaResponse"/>
</message>
<message name="Coseno">
<part name="parameters" element="tns:Coseno"/>
</message>
<message name="CosenoResponse">
<part name="parameters" element="tns:CosenoResponse"/>
</message>
<message name="Multiplicacion">
<part name="parameters" element="tns:Multiplicacion"/>
</message>
<message name="MultiplicacionResponse">
<part name="parameters" element="tns:MultiplicacionResponse"/>
</message>
<message name="Registro">
<part name="parameters" element="tns:Registro"/>
</message>
<message name="RegistroResponse">
<part name="parameters" element="tns:RegistroResponse"/>
</message>
<message name="CuentaUsuario">
<part name="parameters" element="tns:CuentaUsuario"/>
</message>
<message name="CuentaUsuarioResponse">
<part name="parameters" element="tns:CuentaUsuarioResponse"/>
</message>
<message name="par">
<part name="parameters" element="tns:par"/>
</message>
<message name="parResponse">
<part name="parameters" element="tns:parResponse"/>
</message>
<portType name="servicios">
<operation name="potencia">
<input wsam:Action="http://sv/servicios/potenciaRequest" message="tns:potencia"/>
<output wsam:Action="http://sv/servicios/potenciaResponse" message="tns:potenciaResponse"/>
</operation>
<operation name="hello">
<input wsam:Action="http://sv/servicios/helloRequest" message="tns:hello"/>
<output wsam:Action="http://sv/servicios/helloResponse" message="tns:helloResponse"/>
</operation>
<operation name="Login">
<input wsam:Action="http://sv/servicios/LoginRequest" message="tns:Login"/>
<output wsam:Action="http://sv/servicios/LoginResponse" message="tns:LoginResponse"/>
</operation>
<operation name="buscarpalabra">
<input wsam:Action="http://sv/servicios/buscarpalabraRequest" message="tns:buscarpalabra"/>
<output wsam:Action="http://sv/servicios/buscarpalabraResponse" message="tns:buscarpalabraResponse"/>
</operation>
<operation name="Division">
<input wsam:Action="http://sv/servicios/DivisionRequest" message="tns:Division"/>
<output wsam:Action="http://sv/servicios/DivisionResponse" message="tns:DivisionResponse"/>
</operation>
<operation name="Tangente">
<input wsam:Action="http://sv/servicios/TangenteRequest" message="tns:Tangente"/>
<output wsam:Action="http://sv/servicios/TangenteResponse" message="tns:TangenteResponse"/>
</operation>
<operation name="Seno">
<input wsam:Action="http://sv/servicios/SenoRequest" message="tns:Seno"/>
<output wsam:Action="http://sv/servicios/SenoResponse" message="tns:SenoResponse"/>
</operation>
<operation name="Resta">
<input wsam:Action="http://sv/servicios/RestaRequest" message="tns:Resta"/>
<output wsam:Action="http://sv/servicios/RestaResponse" message="tns:RestaResponse"/>
</operation>
<operation name="Coseno">
<input wsam:Action="http://sv/servicios/CosenoRequest" message="tns:Coseno"/>
<output wsam:Action="http://sv/servicios/CosenoResponse" message="tns:CosenoResponse"/>
</operation>
<operation name="Multiplicacion">
<input wsam:Action="http://sv/servicios/MultiplicacionRequest" message="tns:Multiplicacion"/>
<output wsam:Action="http://sv/servicios/MultiplicacionResponse" message="tns:MultiplicacionResponse"/>
</operation>
<operation name="Registro">
<input wsam:Action="http://sv/servicios/RegistroRequest" message="tns:Registro"/>
<output wsam:Action="http://sv/servicios/RegistroResponse" message="tns:RegistroResponse"/>
</operation>
<operation name="CuentaUsuario">
<input wsam:Action="http://sv/servicios/CuentaUsuarioRequest" message="tns:CuentaUsuario"/>
<output wsam:Action="http://sv/servicios/CuentaUsuarioResponse" message="tns:CuentaUsuarioResponse"/>
</operation>
<operation name="par">
<input wsam:Action="http://sv/servicios/parRequest" message="tns:par"/>
<output wsam:Action="http://sv/servicios/parResponse" message="tns:parResponse"/>
</operation>
</portType>
<binding name="serviciosPortBinding" type="tns:servicios">
<soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
<operation name="potencia">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="hello">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="Login">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="buscarpalabra">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="Division">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="Tangente">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="Seno">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="Resta">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="Coseno">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="Multiplicacion">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="Registro">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="CuentaUsuario">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="par">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
</binding>
<service name="servicios">
<port name="serviciosPort" binding="tns:serviciosPortBinding">
<soap:address location="http://localhost:8080/ProyectoSoapServer/servicios"/>
</port>
</service>
</definitions>